.WomencardsContainer{
    background-color: #ffffff;
    width: 80vw;
    height: 30rem;
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #dfe4e6;
    border-radius: .5rem;
}